.bingo-container {
  width: 1000px;
}
.bingo-check {
  background-color: rgba(0,0,0,0.1);
  position: relative;
  z-index: 2;
  opacity: 0.90;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  background-size: cover;
  background-image:url(../../assets/images/sodersportfiske.jpg);
}
.bingo-header {
  height: 200px;
  background-size: cover;
  background-image: url(../../assets/images/pikefight2020.jpg);
  background-color: #cccccc;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat( 5, minmax(100px, 1fr) );
  grid-auto-rows: 1fr;
  background-color: #2e3439;
  padding: 4px;
  grid-row-gap: 4px;
  grid-column-gap: 4px;
}
.grid-item {
  overflow: hidden;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 16px;
  text-align: center;
  position: relative;
}
.grid-item-inner {
  position: absolute;
}
