   <div class="bingo-container">
     <div class="bingo-header">

     </div>
    <div class="grid-container">
      <div (click)="setActive(entry)" class="grid-item" *ngFor="let entry of bingoEntries">
        <div style="position: relative; width: 100%; height:100%">
          <div>{{ entry.info }}</div>
          <div class="bingo-check"*ngIf="entry.clicked"></div>
        </div>
      </div>
    </div>
     <button (click)="windowPrint()">Print</button>
     <button (click)="generate()">Generate</button>
   </div>
